.App {
  background: #eeeeee;
  height: 100%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.j-right {
  justify-content: right;
}

.a-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.space-btw {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.p50 {
  padding: 50px;
}

.p100 {
  padding: 100px;
}

.g20 {
  gap: 20px;
}

.g10 {
  gap: 10px;
}

.m10 {
  margin: 10px;
}

.toolbar {
  padding: 15px;
  background: #aadbdb;
  margin-bottom: 10px;
}

.toolbar-main a {
  text-decoration: none;
}

.toolbar-main a:hover {
  font-weight: 700;
}

.toolbar button {
  cursor: pointer;
  background-color: rgb(151, 233, 233);
  border: 1px solid rgb(8, 112, 112);
  color: rgb(8, 112, 112);
  border-radius: 4px;
  width: 90px;
  padding: 2px;
}

.toolbar button:hover {
  background: transparent;
}

.reg input,
.log input {
  padding: 5px;
}

.reg button,
.log button {
  background: #45599b;
  color: white;
  cursor: pointer;
  padding: 5px;
  font-weight: 700;
  border-radius: 4px;
  border: 1px solid #444444;
  width: 183px;
}

.reg button:hover,
.log button:hover {
  background: #496bdb;
}

.movie {
  border: 1px solid darkblue;
  box-shadow: 0 0 5px darkblue;
  cursor: pointer;
  width: 300px;
  margin: 15px;
}

.movie:hover {
  box-sizing: border-box;
  box-shadow: 0 0 15px darkblue;
}

.movie img {
  width: 100%;
}

.title {
  text-align: left;
  padding: 10px;
}

.seats:hover {
  color: darkblue;
}

.seat {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #aadbdb;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border: 1px solid darkblue;
}

.seat:hover {
  box-sizing: border-box;
  border: 3px solid darkblue;
}

.modal img {
  cursor: pointer;
  width: 50px;
}

.modal {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(13px);
  background-color: rgba(255, 255, 255, 0.5);
}

.user {
  padding: 10px;
}

.ticket {
  margin-top: 30px;
  gap: 20px;
}

.ticket button {
  border-radius: 4px;
  border: 1px solid darkblue;
  cursor: pointer;
  padding: 5px;
  width: 90px;
}

.ticket button:hover {
  background: #ffffff;
}
